<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - SearchPD</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.ActionLink("Search", "Index", "Home") |
    @Html.ActionLink("Admin", "Index", "Admin") |
    @Html.ActionLink("Add Product", "AddProduct", "Demo") |
    @Html.ActionLink("Add Category", "AddCategory", "Demo")

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
